<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgregarATableviewEnTiempoDeEjecucion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A1ED6361EB9027500D511C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1ED64A1EB9027600D511C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1ED6551EB9027600D511C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
